.card {
  background-color: #FFF;
  border: 1px solid #ccc;
  color: #666;
  cursor: pointer;
  display: block;
  margin: 10px;
  padding: 20px;
  transition: all 0.5s ease;
  text-decoration: none;
}

.card:hover {
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
}

.card-image {
  border: 1px solid #ccc;
  height: 200px;
  padding: 20px;
  width: 100%;
}

.card-image img {
  object-fit: contain;
  object-position: center;
  display: block;
  height: 100%;
  width: 100%;
}

.card-content {
  padding: 20px 0 0;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-category {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px auto 40px;
  padding: 5px 20px;
  width: fit-content;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-price p {
  font-size: 18px;
  font-weight: 600;
}

.card-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  font-size: 14px;
  padding: 8px 30px;
}
